.box {
    font-size: 30px;
    height: 400px;
    width: 400px;
    margin: 5px;
    box-sizing: border-box;
    padding-left: 65px;
    padding-top: 100px;
    border: 5px solid rgb(19, 17, 17);
}

* {
    margin: 0;
    padding: 0;
}

.container1 {
    width: 50%;
    height: 30%;
    background-color: violet;
    display: flex;
    justify-content: flex-start;
    /* flex-direction: row;by default property */
    margin-bottom: 50px;
    border: 5px solid rgb(190, 3, 3);
    flex-wrap: wrap;
}

.container2 {
    width: 50%;
    height: 40%;
    background-color: violet;
    display: flex;
    flex-wrap: wrap-reverse;
    margin-bottom: 50px;
    border: 5px solid rgb(190, 3, 3);
}


#box1 {

    background-color: red;
    text-align: center;

}

#box2 {
    display: inline-block;
    background-color: green;
}

#box3 {
    background-color: blue;

}

#box4 {
    background-color: rgb(213, 198, 81);

}

#box5 {
    background-color: rgb(190, 158, 158);

}

.heading {
    text-align: center;
}